BEST_EVALS/BEST_new-entropy-prompts-12-tasks-all-runners-gpt-5-mini-50-runs-BEST filter=lfs diff=lfs merge=lfs -text
BEST_EVALS/BEST_new-entropy-prompts-12-tasks-all-runners-gpt-5-nano-50-runs-after-opus-46 filter=lfs diff=lfs merge=lfs -text
BEST_EVALS/BEST_new-entropy-prompts-12-tasks-all-runners-gpt-5.2-50-runs-after-opus-46 filter=lfs diff=lfs merge=lfs -text
BEST_EVALS/BEST_12-tasks-all-runners-gpt-5.4-mini-50-runs-2/ filter=lfs diff=lfs merge=lfs -text
